<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalPark - I miei dati</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url('{{ url_for("static", filename="Pohang-Apartment.jpeg") }}');
            background-size: cover;
            background-position: center;
        }
    </style>

</head>
<body>
    <header>
        <nav>
            <div class="dropdown">
                <button class="dropdown-toggle">Menu</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('storico') }}">Le mie prenotazioni</a>
                    <a href="{{ url_for('dati') }}">I miei dati</a>
                    <a href="{{ url_for('logout') }}" style="color:red">Logout</a>
                </div>
            </div>
            <div class="logo">Digital Park</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <h2>I miei dati</h2>
        <p>Nome: {{ user.nome }}</p>
        <p>Cognome: {{ user.cognome }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Codice Fiscale: {{ user.cf }}</p>
    
        <h2>Modifica password</h2>
<form action="/update_password" method="POST">
    <div class="input-group">
        <label for="password">Nuova password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="input-group">
        <label for="confirm_password">Conferma nuova password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
    </div>
    <div class="buttons">
        <button type="submit" class="btn btn-primary">Aggiorna password</button>
    </div>
</form>
    <footer>
        <div class="contact-info">
            <p>Email: info@digitalpark.com</p>
            <p>Phone: +123 456 7890</p>
            <p>Address: Via Amoretti 57, Milano (MI) 20157, Italy</p>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Digital Park. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
