<html>
    <head>
        <title>pagina di benvenuto</title>
    </head>
    <body>
        <h1>Benvenuto {{ user['nome'] }}</h1>
        <p><h3>Area Personale</h3></p>
        <p>I tuoi dati:</p>
        <table border="1">
            <tr>
                <td>Nome</td>
                <td>Cognome</td>
                <td>Username</td>
                <td>Email</td>
                <td>Data di nascita</td>
                <td>Genere</td>
            </tr>
            <tr>
                <td>{{ user['nome'] }}</td>
                <td>{{ user['cognome'] }}</td>
                <td>{{ user['username'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['data_di_nascita'] }}</td>
                <td>{{ user['genere'] }}</td>
            </tr>
        </table>
    </body>
</html>
