<html>
    <head>
        <title>pagina di benvenuto</title>
    </head>
    <body>
        <h1>Benvenuto {{paramUser.getNome()}}</h1>
        <p><h3>Area Personale</h3></p>
        <p>I tuoi dati:</p>
        <table border="1">
            <tr>
                <td>Nome</td>
                <td>Cognome</td>
                <td>Stipendio</td>
            </tr>
            <tr>
                <td>{{paramUser.getNome()}}</td>
                <td>{{paramUser.getCognome()}}</td>
                <td>{{paramUser.getStipendio()}}</td>
            </tr>
            <p><a href="/task?nome={{paramUser.getNome()}}&cognome={{paramUser.getCognome()}}">Visualizza Task</a></p>
        </table>
    </body>
</html>